<% content_for :title do %>
  <%=t(:text_page_not_found)%>
<% end %>

<% content_for :body_class do %><%=t(:text_error)%><% end %>

<p><%=t(:text_sorry_but_this_page_does_not_exist_please_double_check_the_url)%></p>