<div id="similarSets" class="module">
  <h3><%=t(:text_similar_data_sets)%></h3>
  <ul>
    <li><a href="#"><%=t(:text_2005_toxics_release_inventory_data_for_guam)%></a></li>
    <li><a href="#"><%=t(:text_2005_toxics_release_inventory_data_for_puerto_rico)%></a></li>
    <li><a href="#"><%=t(:text_2005_toxics_release_inventory_data_for_the_district_of_columbia)%></a></li>
  </ul>
</div>